body {
  background-color: black;
  color: grey;
  font-family: "JetBrains Mono", mono;
  margin: 0;
}

h1 {
  color: grey;
  font-size: 10vw;
  text-shadow: 2px 2px 5px blue;
  font-variant: small-caps;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1px;
}

h2 {
  color: grey;
  font-size: 6vw;
  text-shadow: 2px 2px 5px blue;
}

h3 {
  color: grey;
  font-size: 4vw;
  text-align: center;
  text-shadow: 1px 1px 5px blue;
}

h4 {
  color: grey;
  font-size: 3vw;
  text-align: center;
}

h6 {
  font-size: 1vw;
  text-align: center;
}

.smallcap {
  font-variant: small-caps;
}

table {
  empty-cells: hide;
  margin-top: 30px;
  margin-left: auto; 
  margin-right: auto;
}


th, td {
  padding: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
 
form {
  font-size: 2vw;
  width: 70%;
  margin: auto;
}

p {
  color: grey;
  font-size: 2vw;
  width: 70%;
  margin: auto;
}

input {
  font-size: 1.5vw;
  font-family: "JetBrains Mono";
  font-weight: bold;
  text-align: center;
  width: 10em;
  background-color: gray;
}

label {
  text-align: right;
}

button {
  font-size: 1.5vw;
  font-family: "JetBrains Mono";
  font-weight: bold;
  box-shadow: 3px 3px 5px blue;
  background-color: gray;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
}

button:active {
  box-shadow: 2px 2px 4px darkblue;
  transform: translateX(1px) translateY(1px);
}

@media only screen and (orientation: portrait) {
  h1 {
    font-size: 20vw;
  }
  h6 {
    font-size: 2vw;
  }
  p {
    font-size: 4vw;
  }
}